@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-primary: theme("colors.indigo.600");
  --colors-off-white: theme("colors.slate.100");
}

body {
  font-family: var(--font-geist-sans);
}

.btn {
  @apply flex items-center justify-center rounded px-4 py-2;
}

.btn--primary {
  @apply bg-black text-white transition hover:bg-black/90;
}

.btn--secondary {
  @apply border-2 bg-white text-black transition hover:border-black/20;
}

.skeleton {
  @apply animate-pulse bg-gray-200;
}

a:not(.btn) {
  @apply hover:underline;
}

/* Inputs */

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  @apply w-full rounded border p-2;
}

input[type="color"] {
  @apply size-8 rounded border border-none p-0;
}
